.dashboard {
    height: 42px;
    color: rgb(253, 251, 251);
    background-image: linear-gradient(to right, rgba(2, 2, 142, 0), rgb(1, 1, 154));
    border: 10px;
    font: bolder;
    text-align: center;
    font-size: 30px;
   
}

.currentWeatherTitle {
    font-weight: bold;
    font-size: 20px;  
    border: 10px;
}